<h2> Olá {{ data.student.full_name }} </h2>
<h4>
   Seu pedido foi recusado! Por favor entre em contato com a sua operadora do cartão.
</h4>

<h2> Pedido #{{ data.course.id }} - {{ data.payment.status }} </h2>
<h4>
   {{ data.course.name }} - R$ {{ data.course.discount_amount }}
</h4>
<br>
<h5> Em caso de dúvidas entre em contato conosco! </h5>
<h5>(43) 3026-9088</h5>
