<h2> Olá {{ data.student.name }} </h2>
<h4>
   Seu pedido está em analise até que a confirmação do pagamento seja recebida. Assim que o pagamento for aprovado enviaremos os dados de acesso ao curso.
</h4>

<h2> Pedido #{{ data.course.id }} </h2>
<h4>
   {{ data.course.name }} - R$ {{ data.course.discount_amount }}
</h4>
<br>
<h5> Em caso de dúvidas entre em contato conosco! </h5>
<h5>(43) 3026-9088</h5>
